@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to Alpine Ski House!</p>
<span>Created by: <a target="_blank" rel="noreferrer" href="https://www.kdeavila.site/">Keyner de Ávila</a></span>
